* {
    border: 0;
    margin: 0;
    color: #D1D4DC;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #333333;
}

header {
    width: 100%;
    height: 50px;
    background-color: #121212;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0px;
}

select, option, button {
    color: black;
}

select, select:focus {
    outline: none;
    background-color: #777777;
    border-radius: 3px;
    font-weight: 600

}

#settings-container {
    position: absolute;
    left: 2.5vw;
    display: flex;
    width: fit-content;
    gap: 1vw;
    font-size: 18px;
}

.container-landscape {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3vh;
}

.container-grid {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 3vh;
    margin-bottom: 3vh;
}