:root {
    --light-grey: #333333;
    --light-white: #DDDDDD;
    --dark-black: #121212;
    --dark-white: #BBBBBB;
    --custom-background: var(--light-grey);
    --custom-foreground: var(--dark-black);
    --black-white: white;
}

* {
    border: 0;
    margin: 0;
    color: #D1D4DC;
    user-select: none;
}


html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--custom-background);
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
}

h1 {
    font-size: 32px  !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 20px !important;
}

.container-landscape {
    padding-top: calc(3vh + var(--bulma-navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--custom-background);
}

.container-grid {
    padding-top: calc(3vh + var(--bulma-navbar-height));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: var(--custom-background);
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 3vh;
    margin-bottom: 3vh;
}

.chart-expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--custom-background);
}

canvas, table {
    transition: all 0.3s ease;
}

#navbarBasicExample, .navbar-brand {
    background-color: var(--custom-foreground) !important;
}

.scrollable-navbar {
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-width: none;
}

.navbar-end {
    justify-content: space-around !important;
    gap: 10px;
}

.navbar-brand {
    align-items: center !important;
}

.navbar-dropdown {
    background-color: var(--custom-background) !important;
    overflow-y: scroll;
    max-height: 70vh;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.top-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
  display: flex;
  align-items: center;
  height: var(--bulma-navbar-height);
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.navbar-item {
    background-color: var(--custom-background) !important;
}

.navbar-link, .has-dropdown {
    background-color: var(--custom-foreground) !important;
}

.navbar-burger span:nth-child(1),
.navbar-burger span:nth-child(2),
.navbar-burger span:nth-child(3) {
    background-color: var(--black-white);
}


@media screen and (max-width: 440px) {
    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 330px) {
    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 12px !important;
    }
}