:root {
    --light-grey: #333333;
    --light-white: #DDDDDD;
    --dark-black: #121212;
    --dark-white: #BBBBBB;
    --custom-background: var(--light-grey);
    --custom-foreground: var(--dark-black);
}

* {
    border: 0;
    margin: 0;
    color: #D1D4DC;
    user-select: none;
}


html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--custom-background);
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
}

h1 {
    font-size: 32px  !important;
    font-weight: 600 !important;
}

select {
    background-color: var(--custom-background) !important;
}

.container-landscape {
    padding-top: calc(3vh + var(--bulma-navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--custom-background);
}

.container-grid {
    padding-top: calc(3vh + var(--bulma-navbar-height));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: var(--custom-background);
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 3vh;
    margin-bottom: 3vh;
}

#navbarBasicExample, .navbar-brand {
    background-color: var(--dark-black) !important;
}

.navbar-end {
    justify-content: space-around !important;
    gap: 10px;
}

.navbar-brand {
    align-items: center !important;
}

.top-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 999999;
}


.subtitle-black {
    color: black !important;
}