* {
    border: 0;
    margin: 0;
    color: #D1D4DC;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #333333;
}

header {
    width: 100%;
    height: 50px;
    background-color: #121212;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0px;
}

select, option {
    color: black;
}

#timeframe-container {
    position: absolute;
    left: 2.5vw;
    display: flex;
    width: fit-content;
    gap: 5px;
}

#container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3vh;
}