<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Meteo</title>
    <script src="/static/js/chart.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bulma/css/bulma.min.css">
</head>
<body>
    <header>
        <div class="top-center">
                <h1 class="text-white">Arduino Meteo</h1>
        </div>
        <nav class="navbar shop-nav has-background-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <!-- Arrangement Dropdown  -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="arrangement" class="navbar-link text-white" style="width: 130px;">
                            {{ arrangements[0] }}
                        </a>
                        <div class="navbar-dropdown is-right">
                            {% for arrangement in arrangements %}
                            <a class="navbar-item text-white" onclick="changeArrangementLabel('{{ arrangement }}')">
                                {{ arrangement }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Theme Dropdown -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="theme" class="navbar-link text-white" style="width: 125px;">
                            {{ themes[1] }}
                        </a>
                        <div class="navbar-dropdown is-right">
                            {% for theme in themes %}
                            <a class="navbar-item text-white" onclick="changeThemeLabel('{{ theme }}')">{{ theme }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Timeframe Dropdown -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="timeframe" class="navbar-link text-white" style="width: 125px;">
                            {{ time_frames[0] }}
                        </a>
                        <div class="navbar-dropdown is-right">
                            {% for time_frame in time_frames %}
                            <a class="navbar-item text-white" onclick="changeTimeFrameLabel('{{ time_frame }}')">{{ time_frame }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Timezones Dropdown  -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="timezone" class="navbar-link text-white" style="width: 160px;">
                           {{ time_zones[13] }}
                        </a>
                        <div class="navbar-dropdown is-right">
                            {% for time_zone in time_zones %}
                            <a class="navbar-item text-white" onclick="changeTimezoneLabel('{{ time_zone }}')">{{ time_zone }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-landscape" id="container">
            <div class="chart-container" id="wind-speed-chart">
                <h2 class="text-white">Wind Speed (km/h)</h2>
            </div>
            <div class="chart-container" id="wind-direction-chart">
                <h2 class="text-white">Wind Direction (degrees)</h2>
            </div>
            <div class="chart-container" id="temperature-chart">
                <h2 class="text-white">Temperature (°C)</h2>
            </div>
            <div class="chart-container" id="bmp-chart">
                <h2 class="text-white">Barometric pressure (hPa)</h2>
            </div>
            <div class="chart-container" id="humidity-chart">
                <h2 class="text-white">Humidity (%)</h2>
            </div>
            <div class="chart-container" id="battery-chart">
                <h2 class="text-white">Battery (V)</h2>
            </div>
        </div>
    </main>
</body>
<script src="/static/js/index.js"></script>
</html>