<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteo</title>
    <script src="/static/js/chart.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div id="settings-container">
            <p>Timeframe:</p>
            <select name="timeframe" id="timeframe">
                <option value="Unfiltered">Unfiltered</option>
                <option value="5m">5m</option>
                <option value="30m">30m</option>
                <option value="1h">1h</option>
                <option value="3h">3h</option>
                <option value="6h">6h</option>
                <option value="12h">12h</option>
                <option value="1d">1d</option>
                <option value="7d">7d</option>
            </select>
            <p>Arrangement:</p>
            <select name="plot-arrangement" id="plot-arrangement">
                <option value="Landscape">Landscape</option>
                <option value="Grid">Grid</option>
            </select>
        </div>
        <h1>Arduino Meteo</h1>
    </header>
    <main>
        <div class="container-landscape" id="container">
            <div class="chart-container" id="wind-speed-chart">
                <h2>Wind Speed (km/h)</h2>
            </div>
            <div class="chart-container" id="wind-direction-chart">
                <h2>Wind Direction (degrees)</h2>
            </div>
            <div class="chart-container" id="temperature-chart">
                <h2>Temperature (°C)</h2>
            </div>
            <div class="chart-container" id="bmp-chart">
                <h2>Barometric pressure (hPa)</h2>
            </div>
            <div class="chart-container" id="humidity-chart">
                <h2>Humidity (%)</h2>
            </div>
            <div class="chart-container" id="battery-chart">
                <h2>Battery (V)</h2>
            </div>
        </div>
    </main>
</body>
<script src="/static/js/index.js"></script>
</html>