<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Meteo</title>
    <script src="/static/js/chart.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bulma/css/bulma.min.css">
</head>
<body>
    <header>
        <div class="top-center">
                <h1>Arduino Meteo</h1>
        </div>
        <nav class="navbar shop-nav has-background-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <!-- Theme Dropdown -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="theme" class="navbar-link has-text-white" style="width: 125px;">
                            Dark
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item has-text-white" onclick="changeThemeLabel('Light')">Light</a>
                            <a class="navbar-item has-text-white" onclick="changeThemeLabel('Dark')">Dark</a>
                        </div>
                    </div>
                    
                    <!-- Timeframe Dropdown -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="timeframe" class="navbar-link has-text-white" style="width: 125px;">Unfiltered</a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('Unfiltered')">Unfiltered</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('5m')">5m</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('30m')">30m</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('1h')">1h</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('3h')">3h</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('6h')">6h</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('12h')">12h</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('1d')">1d</a>
                            <a class="navbar-item has-text-white" onclick="changeTimeFrameLabel('7d')">7d</a>
                        </div>
                    </div>
                    <!-- Arrangement Dropdown  -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="arrangement" class="navbar-link has-text-white" style="width: 130px;">
                            Landscape
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item has-text-white" onclick="changeArrangementLabel('Landscape')">Landscape</a>
                            <a class="navbar-item has-text-white" onclick="changeArrangementLabel('Grid')">Grid</a>
                        </div>
                    </div>
                    <!-- Timezones Dropdown  -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a id="timezone" class="navbar-link has-text-white" style="width: 160px;">
                            UTC-0 (GMT)
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-12 (BIT)')">UTC-12 (BIT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-11 (SST)')">UTC-11 (SST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-10 (HST)')">UTC-10 (HST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-9 (AKST)')">UTC-9 (AKST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-8 (PST)')">UTC-8 (PST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-7 (MST)')">UTC-7 (MST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-6 (CST)')">UTC-6 (CST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-5 (EST)')">UTC-5 (EST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-4 (AST)')">UTC-4 (AST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-3 (ART)')">UTC-3 (ART)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-2 (GST)')">UTC-2 (GST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-1 (AZOT)')">UTC-1 (AZOT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC-0 (GMT)')">UTC-0 (GMT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+1 (CET)')">UTC+1 (CET)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+2 (EET)')">UTC+2 (EET)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+3 (MSK)')">UTC+3 (MSK)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+4 (GST)')">UTC+4 (GST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+5 (PKT)')">UTC+5 (PKT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+6 (BST)')">UTC+6 (BST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+7 (ICT)')">UTC+7 (ICT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+8 (CST)')">UTC+8 (CST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+9 (JST)')">UTC+9 (JST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+10 (AEST)')">UTC+10 (AEST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+11 (SBT)')">UTC+11 (SBT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+12 (NZST)')">UTC+12 (NZST)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+13 (TOT)')">UTC+13 (TOT)</a>
                            <a class="navbar-item has-text-white" onclick="changeTimezoneLabel('UTC+14 (LINT)')">UTC+14 (LINT)</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-landscape" id="container">
            <div class="chart-container" id="wind-speed-chart">
                <h2 class="subtitle-white">Wind Speed (km/h)</h2>
            </div>
            <div class="chart-container" id="wind-direction-chart">
                <h2 class="subtitle-white">Wind Direction (degrees)</h2>
            </div>
            <div class="chart-container" id="temperature-chart">
                <h2 class="subtitle-white">Temperature (°C)</h2>
            </div>
            <div class="chart-container" id="bmp-chart">
                <h2 class="subtitle-white">Barometric pressure (hPa)</h2>
            </div>
            <div class="chart-container" id="humidity-chart">
                <h2 class="subtitle-white">Humidity (%)</h2>
            </div>
            <div class="chart-container" id="battery-chart">
                <h2 class="subtitle-white">Battery (V)</h2>
            </div>
        </div>
    </main>
</body>
<script src="/static/js/index.js"></script>
</html>